	<div class="card">
		<div class="card-header">
			<div class="col-lg-12">
				<div class="text-center">
					<h3>shown_bus.number</h3>
				</div>

				<div class="text-center">
					<label>shown_bus.from + ' to ' + shown_bus.to</label>
				</div>
				
				<div class="text-center">
					<label>shown_bus.time.toDateString()</label>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-8">
					<div class="row p-1">
						<div class="col-2"><button class="btn btn-sm btn-info">01</button></div>
						<div class="col-2"></div>
						<div class="col-2"></div>
						<div class="col-2"></div>
						<div class="col-2"></div>
						<div class="col-2"></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class='btn btn-sm btn-info' type="button" data-toggle="modal" data-target="#bookSit">02</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">03</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">04</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">05</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">06</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">07</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">08</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">09</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">10</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">11</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">12</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">13</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">14</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">15</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">16</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"></div>
						<div class="col-2"></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">17</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">18</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">19</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">20</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">21</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">22</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">23</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">24</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">25</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">26</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">27</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">28</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">29</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">30</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">31</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">32</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">33</button></div>
					<div class="col-2"><button class="btn btn-info btn-sm">34</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">35</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">36</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">37</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">38</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">39</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">40</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">41</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">42</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">43</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">44</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">45</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">46</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">47</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">48</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">49</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">50</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">51</button></div>
						<div class="col-2"></div>
						<div class="col-2"><button class="btn btn-info btn-sm">52</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">53</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">54</button></div>
					</div>

					<div class="row p-1">
						<div class="col-2"><button class="btn btn-info btn-sm">55</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">56</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">57</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">58</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">59</button></div>
						<div class="col-2"><button class="btn btn-info btn-sm">60</button></div>
					</div>

				</div>

				<div class="col-4">
					<div class="row p-1 text-center">
						time count
					</div>

					<div class="row p-1">
						<button type="button" class="btn btn-sm btn-success btn-block text-left">
						Booked
						<span class="badge badge-light float-right m-1">00</span>
						<span class="sr-only">unread messages</span>
						</button>
					</div>

					<div class="row p-1">
						<button type="button" class="btn btn-sm btn-info btn-block text-left">
							Available
							<span class="badge badge-light float-right m-1">60</span>
							<span class="sr-only">unread messages</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Booking modal -->
	<div class="modal fade" id="bookSit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content card">
	            <div class="modal-header align-center border card-header">
	                <h5 class="modal-title" id="exampleModalLabel">Sit number current_sit.sit_no</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>

	            <div class="modal-body card-body container">
	                <div class="row mt-1">
	                    <div class="col-lg-3">Passenger</div>
	                    <div class="col-lg-9"><input type="text" class="form-control form-control-sm"/></div>
	                </div>

	                <div class="row mt-1">
	                    <div class="col-lg-3">Sit Number</div>
	                    <div class="col-lg-9"><input type="text" class="form-control form-control-sm"/></div>
	                </div>

	                <div class="row mt-1">
	                    <div class="col-lg-3">Destination</div>
	                    
	                    <div class="col-lg-3 my-auto">
	                        <label class='my-auto' >Arua to</label>
	                    </div>
	                    
	                    <div class="col-lg-4">
	                        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
	                            <option>Kampala</option>
	                        </select>
	                    </div>
	                    
	                    <div class="col-lg-2 my-auto">
	                        <label class='my-auto' >35000 UGX</label>
	                    </div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger btn-sm w-25" data-dismiss="modal">Cancel</button>
	                <button type="button" class="btn btn-success btn-sm w-25">OK</button>
	            </div>
	        </div>
	    </div>
	</div>	