<div class="card">
    <div class="card-header align-center">
        Reciept
    </div>
      
    <div class="card-body">
        <div class="form-group">
			<label>Receipt No</label>

			<input type="text" class="form-control form-control-sm" value="shown_ticket.id">
			
			<label>Passsenger</label>
			
			<input type="text" class="form-control form-control-sm" value="shown_ticket.passenger">
			
			<label>Sit Number</label>
			
			<input type="text" class="form-control form-control-sm" value="shown_ticket.sit_no">
			
			<label>Departure Time</label>
			
			<input type="text" class="form-control form-control-sm" value="shown_ticket.id">
			
			<label>Fare</label>
			
			<input type="text" class="form-control form-control-sm" value="shown_ticket.fare">
			
			<label>Pickup stage</label>
			
			<input type="text" class="form-control form-control-sm" value="shown_ticket.pickup_stage">
        </div>
    </div>
</div>
